.ChatList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  flex-grow: 1;
  overflow-y: auto; 
  margin-bottom: 20px;
}

.emptyMessages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #888;
}
